body {
	background-color: #DDDDDD;
	color: #09A2E0;
}

#introduction {
	text-align: right;
	border: solid;
	padding 20px;
	font-size: 32px;
	margin-bottom: 30px;
}

#title {
	font-size: 60px;
	font-family: Lobster, cursive;
	text-align: center;
}

#icon {
	margin-right: 200px;
	height: 200px;
	width: 200px;
}

#contact {
	padding: 10px;
}

#slideshow {
	width: 10%;
	height: 40%;
	margin-top: 100px;
}

#slideshow-image {
	width: 700px;
	height: 500px;
	margin-left: 275%;
	border-color: #09A2E0;
	border: solid;
	margin-bottom: 20px;
}
