body {
    background-color: purple;
    color: #35c2ff;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
}

#information {
    font-size: 32px;
    border: 2px solid #35c2ff;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#name {
    font-family: Indie Flower;
    font-size: 60px;
}

.intro-image {
    width: 21%;
    height: 250px;
}

#homepagepicture {
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#homepage-info {
    font-size: 24px;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
}

.btn-primary {
    background-color: #5da0ff;
    color: blue;
    padding: 3px;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-primary:hover {
    background-color: maroon;
}

.content {
    /*text-align: left;*/
}

.paragraph-header {
    text-align: left;
}

.content {
    text-align: left;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: left;
}

.image-wrapper {
    text-align: center;
    font-size: 10px;
}